@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 18px;}
body{font-family: 'Noto sans KR', sans-serif;}
ul,ol,li{list-style-type: none;}
a{color: inherit; text-decoration: none;}
#wrap{width: 100%;}
.inner{width: 1240px; margin: 0 auto;}
header{
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.1);
    padding-top: 40px;
    position: fixed;
}
header #logo{
    float: left;
    position: relative;
    top: -40px;
    
}
header nav ul li{
    float: left;
    padding-left: 80px;
}
/****** header ******/

.section1{
    background-image: url(../img/main\ image.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 800px;
    min-width: 1240px;
}
.section1 .box1{
    padding-top: 200px;
    font-size: 1.5rem;
}
.section1 .box1 a{
    border: solid 3px black;
    border-radius: 25px;
    padding: 3px 25px 3px 25px;
    position: relative;
    top: 10px;
}
/****** section01 ******/

.section2 .inner ul{
    float: left;
    width: 1240px;
    height: 180px;
    background-color: #fff;
    border-radius:100px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.2);
    padding: 35px 35px 0 45px;
    margin-top: -90px;
}
.section2 ul li:first-child{
    background-image: url(../img/icon1.png);
    background-repeat: no-repeat;
}
.section2 ul li:nth-child(2){
    background-image: url(../img/icon2.png);
    background-repeat: no-repeat;
}
.section2 ul li:last-child{
    background-image: url(../img/icon3.png);
    background-repeat: no-repeat;
}
.section2 ul li{
    float: left;
    width: calc(100% / 3);
    padding-left: 110px;
    margin-top: 10px;
}
.section2 ul li h3{
    font-size: 1.1rem;
    padding-bottom: 5px;
}
.section2 ul li p{
    color: #b1b1b1;
    padding-bottom:5px ;
}
.section2 ul li a::after{
    content: url(../img/small\ arrow.png);
    margin-left: 10px;
    position: relative;
    top: 2px;
}
/****** section02 ******/
.section3{
    clear: both;
    padding: 150px 0;
}
.section3 .inner h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 100px;
}
.section3 ul{
    height: 400px;
}
.section3 .inner ul li{
    float: left;
    width: 265px;
    margin-right: 60px;
}
.section3 ul li:last-child{
    margin-right: 0;
}
.section3 ul li h3{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
    color: #FF7743;
}
.section3 ul li p{
    font-weight: 500;
    font-size: 1.2rem;
}
.section3 ul li:hover img{
    transform: scale(1.3,1.3);
    border-radius: 50px;
    box-shadow: 20px 40px 40px rgba(0,0,0,0.2);
    transition: all ease 1s;
}
/****** section03 ******/

.section4{
    background-color: #FF7743;
    clear: both;
    height: 450px;
    padding-top: 100px;
}
.section4 img{
    float: left;
    margin-right: 20px;
}
.section4 .inner ul li{
    float: left;
    width: calc(100% / 2)
}
.section4 ul li h1{
    font-size: 2rem;
    color: #fff;
}
.section4 ul li h2{
    font-size: 1.2rem;
    margin-left: 100px;
    color: #fff;
}
.section4 ul li a{
    position: relative;
    background-color: #fff;
    border-radius:100px ;
    top: 50px;
    padding: 20px 80px 20px 80px;
}
.section4 ul li p {
    position: relative;
    top: 30px;
}
/****** section04 ******/

.section5 .inner {
    padding: 150px 0;
}
.section5 ul{
    height: 400px;
}
.section5 .inner h2{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 100px;
}
.section5 .inner ul li{
    float: left;
    width: 400px;
    margin-right:20px ;
    position: relative;
}
.section5 .inner ul li:last-child{
    margin-right: 0;
}
.section5 .inner h3{
    text-align: center;
    margin-top: -50px;
}
.section5 .heart{
    background-color: #FF7743;
    background-repeat: no-repeat;
    background-position: center 20px;
    border-radius:50% ;
    color: #fff;
    text-align: center;
    width: 130px;
    height: 130px;
    padding-top: 50px;
    position: absolute;
    left: 45%; bottom: -30px;
    transform: translateX(-50px);
    opacity: 0;
}
.section5 ul li:hover .heart{
    opacity: 1;
    bottom: -150px;
    transition: 1s;
}
.section5 ul li:hover img{
    transform: scale(130%,130%);
    box-shadow: 0 40px 40px rgba(0,0,0,0.2);
    transition: 1s;
}
.section5 ul li:hover h3{
    transform: translateY(20px);
    transition: 1.5s;
}
.section5 ul li:hover{z-index: 99;}
/****** section05 ******/

footer{
    clear: both;
    background-color: #333;
    color: #777777;
    font-size: 0.9rem;
    padding-top: 50px;
}
footer .top ul li{
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}
footer .top ul li:first-child{
    margin: 0;
}
footer .ft_family{
    border-top: solid 1px #777777;
    clear:both;
}
footer .ft_family p{
    padding-top: 30px;
    padding-bottom: 30px;
}
footer .ft_family h3{
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 30px;
}
footer .ft_family samp{
    text-decoration: underline;
}